layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-var"
        }

        children

        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="aerc" {
        pane {
            borderless true
            command "aerc"
            name "aerc"
        }
    }

    tab name="ide"{
        pane {
            command "nvim"
            name "editor"
        }
    }
}
