root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.fish]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

[*.lua]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 2

[*.sh]
indent_style = space
indent_size = 4

[*.toml]
indent_style = space
indent_size = 2

[*.vim]
indent_style = space
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 2
