root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[aerc/.config/aerc/signatures/*.txt]
insert_final_newline = false
trim_trailing_whitespace = false

[aerc/.config/aerc/templates/*.gotmpl]
insert_final_newline = false
trim_trailing_whitespace = false

[.bashrc]
indent_style = space
indent_size = 4

[*.fish]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

[*.lua]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 2

[*.sh]
indent_style = space
indent_size = 4

[*.toml]
indent_style = space
indent_size = 2

[*.vim]
indent_style = space
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[.zshrc]
indent_style = space
indent_size = 4
