/fish/.config/fish/fish_variables
/glab/.config/glab-cli/config.yml
/node_modules/
/vim/.config/vim/.netrwhist
/vim/.config/vim/autoload/plug.vim
/vim/.config/vim/autoload/plug.vim.old
!/.vscode/
/rust/.opt/cargo/*
!/rust/.opt/config.toml
*.service.requires/
*.service.wants/
*.target.requires/
*.target.wants/
