/fish/.config/fish/fish_variables
/glab/.config/glab-cli/config.yml
/node_modules/
/vim/.config/vim/.netrwhist
!/.vscode/
/teleport/.opt/tsh/
!/teleport/.opt/tsh/config
*.service.requires/
*.service.wants/
*.target.requires/
*.target.wants/
