[Unit]
Description=Start tmux session
After=tmux-server.service
Requires=tmux-server.service

[Service]
Type=oneshot
ExecStart=tmux new-session -t T -s t -d
ExecStop=tmux kill-session -t T
RemainAfterExit=true

[Install]
WantedBy=tmux-server.service
