[Unit]
Description=Install Packages
After=network.target

[Service]
Type=oneshot
Environment=DATABRICKS_ALLOW_INSTALL=1
ExecStart=sudo /usr/bin/apt-get update
ExecStart=/bin/sh -c 'cat $HOME/dotfiles/arca/packages.txt | xargs sudo --preserve-env=DATABRICKS_ALLOW_INSTALL apt-get install'
# Installing build-essential takes a while so we put it in a seperate
# step.
ExecStart=sudo /usr/bin/apt-get install -y build-essential
ExecStart=sudo /usr/bin/apt-get upgrade -y
# Retry in case the dpkg lock happens to be busy.
Restart=on-failure
RestartSec=30
# Workaround for a systemd bug:
#
# * https://github.com/systemd/systemd/issues/2913
# * https://github.com/systemd/systemd/pull/2280
#
# When short lived oneshots send messages (stdout/err) to journal but the
# cgroup exits before journal can interrogate /proc, the messages can't be
# attributed to the right unit.
#
# This allows the logs to be queried via:
#
#    $ journalctl -f SYSLOG_IDENTIFIER=arca-apt-install
#
# Which is better than nothing.
SyslogIdentifier=arca-apt-install
# Since we are changing state and really only need to run this
# once per boot, we enable RemainAfterExit so the unit remains
# active after it is completed.
RemainAfterExit=yes

[Install]
WantedBy=default.target
