[Unit]
Description=Start tmux arca session
After=tmux-server-arca.service
Requires=tmux-server-arca.service

[Service]
Type=oneshot
ExecStart=tmux new-session -t arca -s default -d \; \
    set-option -t arca remain-on exit on \; \
    set-hook -t arca pane-died 'respawn-pane'
ExecStop=tmux kill-session -t arca
RemainAfterExit=true

[Install]
WantedBy=tmux-server-arca.service
