[Unit]
Description=Regenerate flyctl bash completion

[Service]
Type=oneshot
ExecStart=sh -c -- 'flyctl completion bash >"${XDG_DATA_HOME:-$HOME/.local/share}/bash-completion/completions/flyctl"'
