[Unit]
Description=Regenerate flyctl bash completion

[Service]
Type=oneshot
StandardOutput=file:%h/.local/share/bash-completion/completions/flyctl
ExecStart=flyctl completion bash
