# https://dandavison.github.io/delta/
[delta]
	detect-dark-light = auto
	hyperlinks = true
	hyperlinks-file-link-format = "{path}:{line}"
	navigate = true
	side-by-side = true
	tabs = 4
	unobtrusive-line-numbers = true
[delta "dark"]
	syntax-theme = OneHalfDark
[delta "light"]
	syntax-theme = OneHalfLight
