[user]
	name = Tristan Partin
	email = tristan.partin@databricks.com
[alias]
	pp = "!bash -c \"new_args=(); remote=\\\"\\\"; ref=\\\"\\\"; start=0; if [[ \\$0 == \\\"bash\\\" ]]; then start=1; fi; for ((i=start; i<=\\$#; i++)); do arg=\\${!i}; if [[ \\\"\\$arg\\\" != -* ]]; then if [[ \\\"\\$remote\\\" == \\\"\\\" ]]; then remote=\\\"\\$arg\\\"; new_args+=(\\\"\\$arg\\\"); else if [[ \\$ref == \\\"\\\" ]]; then ref=\\\"\\$arg\\\"; fi; if [[ \\\"\\$ref\\\" != tristan-partin_data/* ]]; then new_args+=(\\\"\\$arg:tristan-partin_data/\\$arg\\\"); else new_args+=(\\\"\\$arg\\\"); fi; fi; else new_args+=(\\\"\\$arg\\\"); fi; done; if [[ \\$remote == \\\"\\\" ]]; then new_args+=(\\\"origin\\\"); fi; if [[ \\$ref == \\\"\\\" ]]; then branch=\\$(git branch --show-current); if [[ \\\"\\$branch\\\" != tristan-partin_data/* ]]; then new_args+=(\\\"\\$branch:tristan-partin_data/\\$branch\\\"); else new_args+=(\\\"\\$branch\\\"); fi; fi; git push -u \\\"\\${new_args[@]}\\\"\" "
[commit]
	template = ~/.config/git/templates/work
[core]
	hooksPath = /home/tristan.partin/.databricks/githooks
	trustctime = false
# TODO: Figure this out later
# [credential]
# 	helper = "!git-credential-op --account=neontech.1password.com op://Personal/5gqpfb4bkaezgjtkikzd6iyh7q/password"
[format]
	signatureFile = ~/.config/git/signatures/work
[github]
	username = tristan-partin_data
[sendemail]
	sendmailCmd = sendmail
	smtpEncryption = tls
	smtpUser = tristan.partin@databricks.com
	smtpServer = smtp.gmail.com
	smtpServerPort = 587
