[user]
	name = Tristan Partin
	email = tristan@neon.tech
[commit]
	template = ~/.config/git/templates/work
[credential]
	helper = "!git-credential-op --account=neontech.1password.com op://Personal/5gqpfb4bkaezgjtkikzd6iyh7q/password"
[format]
	signatureFile = ~/.config/git/signatures/work
[sendemail]
	sendmailCmd = sendmail
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = tristan@neon.tech
	smtpServerPort = 587
