[Unit]
Description=Update XDG_DATA_HOME/applications desktop database

[Service]
Type=oneshot
ExecStart=update-desktop-database "${XDG_DATA_HOME}"

[Install]
WantedBy=default.target
