[Unit]
Description=Regenerate XDG_DATA_HOME man page database

[Service]
Type=oneshot
ExecStart=mandb "${XDG_DATA_HOME}/man"

[Install]
WantedBy=default.target
