[Unit]
Description=Regenerate uv bash completion

[Service]
Type=oneshot
StandardOutput=file:%h/.local/share/bash-completion/completions/uv
ExecStart=uv generate-shell-completion bash
