[Unit]
Description=Start 1Password
After=graphical-session.target

[Service]
Type=exec
ExecStart=1password --silent
Restart=always

[Install]
WantedBy=graphical-session.target
