[core]
	hooksPath = ~/.databricks/githooks
	trustctime = false
[github]
	username = tristan-partin_data
[includeIf "gitdir:~/cloud/"]
	path = work.config
[includeIf "gitdir:~/hadron/"]
	path = work.config
[includeIf "gitdir:~/neon/"]
	path = work.config
[includeIf "gitdir:~/runtime/"]
	path = work.config
[includeIf "gitdir:~/universe/"]
	path = work.config
