[core]
	trustctime = false
[github]
	username = tristan-partin_data
[includeIf "gitdir:~/cloud/"]
	path = work.config
[includeIf "gitdir:~/hadron/"]
	path = work.config
[includeIf "gitdir:~/neon/"]
	path = work.config
[includeIf "gitdir:~/postgresql/"]
	path = work.config
[includeIf "gitdir:~/runtime/"]
	path = work.config
[includeIf "gitdir:~/universe/"]
	path = work.config
[url "ssh://org-145372899@github.com/databricks-eng/"]
	insteadOf = https://github.com/databricks-eng/
