# https://wiki.archlinux.org/title/Tmux

[Unit]
Description=Start tmux in detached session
After=graphical-session.target

[Service]
Type=forking
ExecStart=tmux start-server
ExecStop=tmux kill-server
# Seems necessary for color support
Environment="COLORTERM=truecolor"
Environment="TERM=xterm-256color"
Restart=always
WorkingDirectory=~

[Install]
WantedBy=graphical-session.target
