# https://stackoverflow.com/questions/31155381/what-does-i-mean-in-bash
# [[ $- = *i* ]] &&
# https://ss64.com/bash/syntax-inputrc.html

set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string "\1\e[1m\2● "
set vi-cmd-mode-string "\1\e[1m\2○ "
set show-all-if-ambiguous on
set menu-complete-display-prefix on
set completion-ignore-case on
set bell-style none
set skip-completed-text on
TAB: menu-complete
"\e[Z": menu-complete-backward # Shift-tab
"\e[A": history-search-backward # up-arrow
"\e[B": history-search-forward # down-arrow
set expand-tilde on
"\b": kill-whole-line # Ctrl-backspace
"\ed": backward-kill-word # Alt-d
"\eD": shell-kill-word # Alt-D
