# https://dandavison.github.io/delta/
[delta]
	detect-dark-light = auto
	hyperlinks = true
	hyperlinks-file-link-format = "{path}:{line}"
	minus-emph-style = "syntax #835E61"
	minus-style = "syntax #40313B"
	navigate = true
	plus-emph-style = "syntax #5C8461"
	plus-style = "syntax #2C3337"
	side-by-side = true
	syntax-theme = TwoDark
	tabs = 4
	unobtrusive-line-numbers = true
